<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Your Website</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <!-- <li><a href="/register">Register</a></li> -->
            <li><a href="/profile">Profile</a></li>
            <!-- <li><a href="/admin_login">Admin Login</a></li>
            <li><a href="/admin_panel">Admin Panel</a></li>
            <li><a href="/logout">Logout</a></li> -->
        </ul>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; 2023 Your Website. All rights reserved.
    </footer>
</body>
</html>
